<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://05f7f315.dl-one2up.com/onetwo/content/2015/10/15/05f7f3150de44c71b394aa603f7b58db.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.vali.battleriders</string>
                <key>bundle-version</key>
                <string>1.0.4</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Battle Riders - Car Combat Racing</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
