<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://22368786.dl-one2up.com/onetwo/content/2015/10/15/22368786ccd7fc3695e0438a8658946a.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.avtech.eagleeyes-plus</string>
                <key>bundle-version</key>
                <string>1.0.3.9.2</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>EagleEyes-plus</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
