<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://053e3e2e.dl-one2up.com/onetwo/content/2015/10/14/053e3e2e34e40cc8802aec715df241ca.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.appfever.handdrawn</string>
                <key>bundle-version</key>
                <string>1.4</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Hand Drawn Designs Builder Kit DIY</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
