<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://756fa49e.dl-one2up.com/onetwo/content/2015/10/15/756fa49e1d83fdadb4cd21dae6a610bd.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.chairentertainment.IB2</string>
                <key>bundle-version</key>
                <string>9707.136</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Infinity Blade II</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
