<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://e1f67818.dl-one2up.com/onetwo/content/2015/10/15/e1f678180ae87fc21fe6bb98b7af0122.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.mobisystems.OfficeSuitePremium</string>
                <key>bundle-version</key>
                <string>4.2.1</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>OfficeSuite Premium - PDF + office dоcuments</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
