<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://32f5d6c7.dl-one2up.com/onetwo/content/2015/10/15/32f5d6c7c9b460442e34b3dffb91c67f.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.rhonnadesigns.rhonnadesigns</string>
                <key>bundle-version</key>
                <string>519</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Rhonna Designs</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
